<%= stylesheet_link_tag "resident/houses/new", :media => "all" %>
<%= javascript_include_tag 'resident/houses/new', 'data-turbolinks-track': 'reload' %>
<main>
<h2><%= t('.request') %></h2>

<%= form_tag(new_resident_house_path, id: "select_form", method: "get") do %>
  <div class="field">
    <%= text_field_tag "search_name" %>
  </div>
  
  <div class="actions">
    <button type="button" class="button" onclick="$('#select_form').submit();"><%= t('.search') %></button>
  </div>

<% end %>

<%= form_tag(resident_houses_path) do %>

  <ul class="select-house-list">
  <% @houses.each do |house| %>
    <li class="house_name" data-id="<%= house.id %>" data-name="<%= house.name %>">
      <%= house.name %>
    </li>
  <% end %>
  </ul>
  
  <p><%= t('.house') %>：<span id="house_name"><%= t('.no_select') %></span></p>
  
  <%= hidden_field_tag "house_id" %>
  
  <div class="field">
    <%= label_tag "number", "#{t('.room_number')}：" %>
    <%= text_field_tag "number" %>
  </div>

  <div class="actions">
    <%= button_tag t('.submit'), class: "button" %>
  </div>
<% end %>

</main>