<%= stylesheet_link_tag "owners/show", :media => "all" %>
<main>
  <ul class="main-buttons">
    <li class="phone">
      <%= link_to  owner_phone_lists_path do %>
        <i class="fas fa-phone"></i>電話帳
      <% end %>
    </li>
    <li class="chat">
      <%= link_to  owner_contacts_path do %>
        <i class="far fa-comments"></i>チャット
      <% end %>
    </li>
    <li class="post">
      <%= link_to owner_posts_path do %>
        <i class="far fa-file-alt"></i>お知らせ
      <% end %>
    </li>
    <li class="search">
      <%= link_to owner_residents_path do %>
        <i class="fas fa-user-alt"></i>入居者検索
      <% end %>
    </li>
    <li class="request">
      <%= link_to owner_requests_path do %>
        <i class="fas fa-gavel"></i>入居申請
      <% end %>
    </li>
    <li class="house">
      <%= link_to owner_houses_path do %>
        <i class="fas fa-building"></i>物件・部屋
      <% end %>
    </li>
    <li class="room">
      <%= link_to "" do %>
        <i class="fab fa-sistrix"></i>使い方
      <% end %>
    </li>
    <li class="setting">
      <%= link_to owner_setting_path do %>
        <i class="fas fa-cogs"></i>各種設定
      <% end %>
    </li>
    <li class="logout">
      <%= link_to destroy_owner_session_path, method: "delete" do %>
        <i class="fas fa-sign-out-alt"></i>退出
      <% end %>
    </li>
    <li class="inquiry">
      <%= link_to new_owner_inquiry_path do %>
        <i class="fas fa-question"></i>お問い合わせ
      <% end %>
    </li>
  </ul>

</main>
