<%= stylesheet_link_tag "owners/show", :media => "all" %>
  <main>
    <div class="main-block">
      <div class="card">
        <h2>最近の連絡</h2>
        <% @contacts.each do |contact| %>
          <% next if contact.contact_chats.blank? %>
          <div class="contact">
            <div class="contact-date">
              <%= contact.updated_at.strftime("%Y/%m/%d") %><br />
              <%= contact.updated_at.strftime("%H:%M") %>
            </div>
            <div class="contact-sentense">
              <% r = contact.room %>
              <%= r.house.name %> <%= r.number %> <%= contact.resident.name %><br />
              <%= link_to edit_owner_contact_path(contact.id) do %>
                <%= contact.contact_chats.order(:created_at).last.text[0..25] + "..." %></a>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= link_to "すべて見る", owner_contacts_path, class: "all-contacts" %>
      </div>
    </div>
    <div class="side-block">
      <div class="card houses">
        <h2>管理物件</h2>
        <ul>
          <% @owner.houses.each do |house| %>
            <li><%= link_to house.name + "(12/#{house.rooms.size})", owner_house_path(house.id) %></li>
          <% end %>
        </ul>
        <%= link_to "新しく物件を登録する", new_owner_house_path, class: "btn new-post-btn" %>
      </div>
      <div class="card posts">
        <h2>お知らせ回覧</h2>
        <div class="post">
          <div class="post-date">2019/11/12<br />12:00</div>
          <div class="post-title"><a href="#">ゴミ出し日</a></div>
        </div>
        <div class="post">
          <div class="post-date">2019/11/12<br />12:00</div>
          <div class="post-title"><a href="#">ゴミ出し日</a></div>
        </div>
        <div class="post">
          <div class="post-date">2019/11/12<br />12:00</div>
          <div class="post-title"><a href="#">ゴミ出し日</a></div>
        </div>
        <a href="#" class="all-posts">すべて見る>></a>
        <%= link_to "新しく回覧を作る", new_owner_post_path, class: "btn new-post-btn" %>
      </div>
    </div>
  </main>

  <footer>
  </footer>