<%= stylesheet_link_tag "owner/houses/show", :media => "all" %>
<%= javascript_include_tag 'owner/houses/show', 'data-turbolinks-track': 'reload' %>
    <main>
      <div class="house-wrapper">
        <h2>物件情報</h2>
        <div>
          <%= form_for(@room, url: owner_house_room_path(house_id: @house.id), locale: true, method: "patch") do |form| %>
            <% if @room.request %>
              現在入居申請中です。
              <%= link_to "こちら", owner_requests_path %>
              から申請の許可または却下を行ってください。
            <% end %>
            <ul class="row">
              <li class="key">物件</li>
              <li class="value">
                <%= @room.house.name %>
              </li>
            </ul>
            <ul class="row">
              <li class="key">部屋番号</li>
              <li class="value house-read">
                <%= @room.number %>
                <% if @room.request %>
                  <span class="status info">申請中</span>
                <% end %>
              </li>
              <li class="value house-form"><%= form.text_field :number %></li>
            </ul>
            <div class="actions">
              <button class="edit-btn house-read button" type="button">編集</button>
            </div>
            <div class="actions">
              <button class="cancel-btn house-form button" type="button">キャンセル</button>
              <%= form.button class: "house-form button submit" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="house-wrapper">
        <h2>住人情報</h2>
        <div>
          <% resident = @room.resident %>
          <% if resident %>
            <ul class="row">
              <li class="key">名前</li>
              <li class="value"><%= resident.name %></li>
            </ul>
            <ul class="row">
              <li class="key">電話番号</li>
              <li class="value"><%= resident.phone_number %></li>
            </ul>
            <ul class="row">
              <li class="key">家族構成</li>
              <li class="value"><%= resident.family %></li>
            </ul>
          <% end %>
        </div>
        <% if @contact %>
          <h2>操作</h2>
          <div class="action-buttons">
            <%= link_to "退去", remove_owner_house_room_path(house_id: @room.house_id, id: @room.id), class: "remove" %>
            <%= link_to "メッセージ", edit_owner_contact_path(@contact.id) + "#last", class: "contact" %>
          </div>
        <% end %>
      </div>
    </main>
