<%= stylesheet_link_tag "owner/houses/form", :media => "all" %>

<%= form_for(@house, url: post_url, locale: true, method: post_method) do |form| %>

  <div class="field">
    <%= form.label :name, "物件名" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :postal_code, "郵便番号(ハイフン無し 例： 1011265)" %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
