<%= stylesheet_link_tag "owner/houses/index", :media => "all" %>
    <main>
      <div class="add-btn-wrapper">
        <%= link_to new_owner_house_path do %>
          <i class="fas fa-plus"></i>物件を追加
        <% end %>
      </div>
      <div class="houselist">
        <ul class="list-header list-row">
          <li class="name">物件名</li>
          <li class="regident-num">入居数</li>
          <li class="room-num">部屋数</li>
        </ul>
        <% @houses.each do |house| %>
        <ul class="list-row">
          <li class="name"><%= link_to house.name, owner_house_path(house.id) %></a></li>
          <li class="regident-num"><%= house.rooms.where.not(resident_name: nil).size %></li>
          <li class="room-num"><%= house.rooms.size %></li>
        </ul>
        <% end %>
      </div>
    </main>