<%= stylesheet_link_tag "owner/houses/show", :media => "all" %>
<%= javascript_include_tag 'owner/houses/show', 'data-turbolinks-track': 'reload' %>
    <main>
      <div class="house-wrapper">
        <h2>物件情報</h2>
        <div>
          <%= form_for(@house, url: owner_house_path, locale: true, method: "patch") do |form| %>
            <% if @house.errors.any? %>
              <div id="error_explanation">
                <ul>
                <% @house.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <ul class="row">
              <li class="key">物件名</li>
              <li class="value house-read"><%= @house.name %></li>
              <li class="value house-form"><%= form.text_field :name %></li>
            </ul>
            <ul class="row">
              <li class="key">郵便番号</li>
              <li class="value house-read"><%= @house.postal_code %></li>
              <li class="value house-form"><%= form.text_field :postal_code %></li>
            </ul>
            <ul class="row">
              <li class="key">住所</li>
              <li class="value house-read"><%= @house.address %></li>
              <li class="value house-form"><%= form.text_field :address %></li>
            </ul>
            <div class="actions">
              <button class="edit-btn house-read button" type="button">編集</button>
            </div>
            <div class="actions">
              <button class="cancel-btn house-form button" type="button">キャンセル</button>
              <%= form.submit class: "house-form button submit" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="rooms">
        <h2>部屋一覧</h2>
        <ul class="room-list">
          <li><a href="#">101</a> <p>魚谷</p></li>
          <li><a href="#">101</a> <p></p></li>
          <li><a href="#">101</a> <p>魚谷</p></li>
          <li><a href="#">101</a> <p>魚谷</p></li>
          <li><a href="#">101</a> <p></p></li>
          <li><a href="#">101</a> <p>魚谷</p></li>
          <li><a href="#">101</a> <p>魚谷</p></li>
          <li><a href="#">101</a> <p></p></li>
        </ul>
      </div>
    </main>