<%= stylesheet_link_tag "owner/posts/index", :media => "all" %>
<%= javascript_include_tag 'owner/posts/index' %>
<main>
  
  <div class="form-wrapper">
    <div class="form">
      <%= form_tag(owner_posts_path, method: "get") do %>
        <%= text_field_tag "title", params[:title], placeholder: "タイトル", class:"search-for-title" %>
        <%= select_tag "status", options_for_select([["未選択", ""],["配信済み", "posted"],["未配信", "no_post"]], params[:status]), class: "search-for-status" %>
        <p></p>
        <%= submit_tag "検索", class: "search-submit" %>
      <% end %>
    </div>
  </div>
  
  <div class="list-wrapper">
    <h2>お知らせ一覧</h2>
    <ul class="list-header">
      <li class="title">タイトル</li>
      <li class="status">ステータス</li>
      <li class="post-at">お知らせ日時</li>
      <li class="actions"></li>
    </ul>
    <% @posts.each do |post| %>
      <ul class="list-item">
        <li class="title"><%= post.title %></li>
        <li class="status"><%= post.post_at < Time.zone.now ? "配信済み" : "未配信" %></li>
        <li class="post-at"><%= post.post_at.strftime("%Y/%m/%d %H時") %></li>
        <li class="actions">
          <%= link_to "プレビュー", owner_post_path(post.id), class: "", target: "_blank" %>
          <% if post.post_at > Time.zone.now %>
            <span class="separator"></span>
            <%= link_to "編集", edit_owner_post_path(post.id), class: ""%>
          <% else %>
            <span class="separator"></span>
            <%= link_to "既読状況", read_status_owner_post_path(post.id), id: "link-read-status#{post.id}", class: "read-status active", remote: true, data: {modal_id: post.id} %>
            <span class="read-status" data-modal-id="<%= post.id %>" id="no-link-read-status<%= post.id %>">既読状況</span>
          <% end %>
        </li>
      </ul>
      <div class="read-status-modal-wrap" id="modal<%= post.id %>">
      </div>
    <% end %>
  </div>
</main>