<%= stylesheet_link_tag "owner/posts/index", :media => "all" %>

<main>
  
  <div class="form-wrapper">
    <div class="form">
      <%= form_tag(owner_posts_path, method: "get") do %>
        <%= text_field_tag "title", params[:title], placeholder: "タイトル", class:"search-for-title" %>
        <%= select_tag "status", options_for_select([["未選択", ""],["配信済み", "posted"],["未配信", "no_post"]], params[:status]), class: "search-for-status" %>
        <%= submit_tag "検索", class: "search-submit" %>
      <% end %>
    </div>
  </div>
  
  <div class="list-wrapper">
    <h2>お知らせ一覧</h2>
    <ul class="list-header">
      <li class="title">タイトル</li>
      <li class="updated-at">ステータス</li>
      <li class="post-at">お知らせ日時</li>
      <li class="actions"></li>
    </ul>
    <% @posts.each do |post| %>
      <ul class="list-item">
        <li class="title"><%= post.title %></li>
        <li class="updated-at"><%= post.post_at < Time.zone.now ? "配信済み" : "未配信" %></li>
        <li class="post-at"><%= post.post_at.strftime("%Y/%m/%d %H時") %></li>
        <li class="actions">
          <%= link_to "プレビュー", owner_post_path(post.id), class: "", target: "_blank" %>
          <% if post.post_at > Time.zone.now %>
            <span class="separator"></span>
            <%= link_to "編集", edit_owner_post_path(post.id), class: ""%>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</main>