<%= stylesheet_link_tag "owner/contacts/edit", :media => "all" %>
<%= javascript_include_tag 'owner/contacts/edit', 'data-turbolinks-track': 'reload' %>
<main>
  
  <h2><%= t('.message') %></h2>
  <div class="messages-wrap" id="chat-scroll">
    <%= hidden_field_tag "read_url", read_resident_contact_path(@contact.id) %>
    <% @contact_chats.each_with_index do |chat, i| %>
      <% writer = chat.resident_id.present? ? chat.resident : chat.owner %>
      <% add_class = (i+1 == @contact_chats.length) ? "default-open" : "" %>
      <% add_class += chat.resident_id.present? ? " resident" : " owner" %>
      <div class="message <%= add_class %>">
        <% if chat.resident_write? %>
          <span class="read-status <%= chat.read? ? "read" : "yet" %>">
            <%= chat.read? ? t('.read') : t('.no_read') %>
          </span>
        <% end %>
        <% display_text = chat.resident_write? ? chat.text : chat.other_language_text %>
        <% display_text ||= chat.text %>
        <div class="short">
          <div class="message-header">
            <div class="writer-name" >
              <span class="name"><%= writer.name %></span>
              <%= display_text[0..30] %>
            </div>
            <div class="created-datetime">
              <%= chat.created_at.strftime("%Y年%m月%d日 %H:%M") %>
            </div>
          </div>
        </div>
        <div class="long">
          <div class="message-header">
            <div class="writer-name" >
              <span class="name"><%= writer.name %></span>
            </div>
            <div class="created-datetime">
              <%= chat.created_at.strftime("%Y年%m月%d日 %H:%M") %>
            </div>
          </div>
          <%= simple_format(h(display_text)) %>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if @contact.updatable? %>
    <%= form_tag(resident_contact_path(@contact.id), method: "patch") do %>
      <%= text_area_tag "chat_message" %>
      <div class="actions">
        <%= button_tag t('.submit'), class: "button", type: "button", onclick: "$(form).submit();" %>
      </div>
    <% end %>
  <% end %>

</main>