<%= stylesheet_link_tag "owner/residents/index", :media => "all" %>
<main>
  <div class="form-wrap">
    <%= form_tag(owner_residents_path, method: "get") do %>
      <div class="fields" >
        <div class="field">
          <%= label_tag "name", "名前" %>
          <%= text_field_tag "name", params[:name] %>
        </div>
        <div class="field">
          <%= label_tag "house_id", "物件名" %>
          <% options = [["指定無し", nil]] + @owner.houses.map{|h| [h.name, h.id]} %>
          <%= select_tag "house_id", options_for_select(options, selected: params[:house_id])%>
        </div>
      </div>
      
      <div class="fields" >
        <div class="actions">
          <%= submit_tag "検索", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="list-wrap">
    <ul class="list list-header">
      <li class="resident-name">名前</li>
      <li class="resident-phone-number">電話番号</li>
      <li class="resident-house-name">物件名</li>
      <li class="resident-room-number">部屋番号</li>
    </ul>
    <% @residents.each do |resident| %>
      <ul class="list list-item">
        <li class="resident-name">
          <%= link_to resident.name, edit_owner_house_room_path(house_id: resident.room.house.id, id: resident.room.id) %>
        </li>
        <li class="resident-phone-number"><%= resident.phone_number %></li>
        <li class="resident-house-name"><%= resident.room.house.name %></li>
        <li class="resident-room-number">
          <%= resident.room.number %>
          <% if resident.room.request %>
            <span class="status info">申請中</span>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</main>