<%= stylesheet_link_tag "flyer", :media => "all" %>
<% service_name = OwnerHelper::Application::SERVICE_NAME %>
<main>
  <div class="header">
    <h1><%= link_to service_name, root_path %></h1>
    <p>-住人と管理人をつなぐコミュニケーションサービス-</p>
    <p>https://www.irent.life/</p>
  </div>
  
  <h2>1. <%= service_name %>とは</h2>
  <div class="main-image-wrap">
    <%= image_tag "irent-top.jpg" %>
    <div class="about-text">
      <p>
        <%= service_name %>は「平日連絡が取れない」「会話の記録が残らないので不安」など、
        マンションやアパートの「管理人さん」と「住人」
        の間のコミュニケーションに関する様々な問題を解決します。
      </p>
    </div>
  </div>
  
  <h2>2. 主な機能</h2>
  <div class="functions">

    <div class="function">
      <h3><i class="far fa-comments"></i>チャット</h3>
      <div class="function-content">
        <%= image_tag "chat_sample.png" %>
        <div class="text">
          <p class="small">
            既読機能・メールでの通知がついているので安心
          </p>
        </div>
      </div>
    </div>

    <div class="function">
      <h3><i class="far fa-file-alt"></i>お知らせ作成・自動配信</h3>
      <div class="function-content">
        <%= image_tag "post.jpg" %>
        <div class="text">
          <p class="small">
            専用エディタを使い、簡単に本格的な文書が作成できます。
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <h2>3. 料金と紹介制度</h2>
  <div class="two-row">
    <div class="row-item">
      <p>
        住人登録済みの部屋、1部屋につき
      </p>
      <p class="large">
        <span>月額 300円</span>(税別)
      </p>
    </div>
    <div class="row-item">
      <p>
        さらに、ご新規で管理人様を紹介していただいた方に、
        紹介していただいた管理人様の
      </p>
      
      <p class="large">
        <span>月額使用料の1割</span>
      </p>
      <p>
        を紹介料として<span class="underline">毎月</span>お支払いいたします。
      </p>
    </div>
  </div>
</main>