<%= stylesheet_link_tag "owner/contacts/edit", :media => "all" %>
<%= javascript_include_tag 'owner/contacts/edit', 'data-turbolinks-track': 'reload' %>
<main>

  <h2>入居人情報</h2>
  
  <div>
    <ul class="resident-info-row">
      <li class="resident-info-header">名前</li>
      <li class="resident-info-value"><%= @contact.resident.name %></li>
    </ul>
    <ul class="resident-info-row">
      <li class="resident-info-header">物件・部屋</li>
      <li class="resident-info-value">
        <%= @contact.room.house.name %> <%= @contact.room.number %>
      </li>
    </ul>
    <ul class="resident-info-row">
      <li class="resident-info-header">電話番号</li>
      <li class="resident-info-value"><%= @contact.resident.phone_number %></li>
    </ul>
  </div>
  
  <h2>メッセージ</h2>
  <div class="messages-wrap" id="chat-scroll">
    <%= hidden_field_tag "read_url", read_owner_contact_path(@contact.id) %>
    <% @contact_chats.each_with_index do |chat, i| %>
      <% writer = chat.resident_id.present? ? chat.resident : chat.owner %>
      <% add_class = chat.resident_id.present? ? " resident" : " owner" %>
      <div class="message default-open <%= add_class %>" id="<%= 'last' if @contact_chats.size == i + 1 %>">
        <% if chat.owner_write? %>
          <span class="read-status <%= chat.read? ? "read" : "yet" %>">
            <%= chat.read? ? "既読" : "未読" %>
          </span>
        <% end %>
        <% display_text = chat.owner_write? ? chat.text : chat.other_language_text %>
        <div class="long">
          <div class="message-header">
            <div class="writer-name" >
              <span class="name"><%= writer.name %></span>
            </div>
            <div class="created-datetime">
              <%= chat.created_at.strftime("%Y年%m月%d日 %H:%M") %>
            </div>
          </div>
          <p><%= simple_format(h(display_text)) %></p>
          <% if chat.media.attached? %>
            <%= image_tag chat.media %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if @contact.updatable? %>
    <%= form_tag(owner_contact_path(@contact.id), method: "patch", multipart: true) do %>
      <%= text_area_tag "chat_message" %>
      <div class="actions">
        <div class="preview"></div>
        <div>
          <%= button_tag type: "button", class: "button media-select-open", onclick: "$('#media').click();" do %>
            <i class="fas fa-camera"></i>
          <% end %>
          <%= file_field_tag "media", class: "media-select" %>
          <%= button_tag t('.submit'), class: "button", type: "button", onclick: "$(form).submit();" %>
        </div>
      </div>
    <% end %>
  <% end %>

</main>