<!DOCTYPE html>
<html>
  <head>
    <title><%= OwnerHelper::Application::SERVICE_NAME %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'owners' %>
    <%= javascript_include_tag 'common' %>
    <%= stylesheet_link_tag "common", media: "all" %>
    <%= stylesheet_link_tag "owners", media: "all" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
    <% if (ENV['MAILGUN_HOSTNAME'] && ENV['MAILGUN_HOSTNAME'] == "www.irent.life") %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134353860-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-134353860-1');
      </script>
    <% end %>
  </head>

  <body>
    <header>
      <h1><%= link_to "iRent", owner_path %></h1>
      <% if @owner.present? && !@owner.new_record? %>
        <div class="header-right pc">
          <ul class="header-menu">
            <li><%= link_to "メッセージ(未読#{@new_message_count}件)", owner_contacts_path %></li>
            <li><%= link_to "入居申請(#{@request_count}件)", owner_requests_path %></li>
          </ul>
        </div>
        
        <div class="header-right sp">
          <ul class="header-icons">
            <li class="contact-info">
              <%= link_to owner_requests_path do %>
                <i class="fas fa-gavel"></i>(<%= @request_count %>)
              <% end %>       
              <span><%= @request_count.to_s if @request_count != 0 %></span>
            </li>
            <li class="contact-info">
              <%= link_to owner_contacts_path do %>
                <i class="far fa-comments"></i>(<%= @new_message_count %>)
              <% end %>
              <span><%= @new_message_count if @new_message_count != 0 %></span>
            </li>
          </ul>
        </div>
      <% end %>
    </header>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if @errors.present? %>
      <% @errors.each do |error| %>
        <p class="alert"><%= error %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>