<!DOCTYPE html>
<html>
  <head>
    <title><%= OwnerHelper::Application::SERVICE_NAME %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'residents' %>
    <%= javascript_include_tag 'common' %>
    <%= stylesheet_link_tag "common", media: "all" %>
    <%= stylesheet_link_tag "residents", media: "all" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
    <% if (ENV['MAILGUN_HOSTNAME'] && ENV['MAILGUN_HOSTNAME'] == "www.irent.life") %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134353860-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-134353860-1');
      </script>
    <% end %>
  </head>

  <body>
    <header>
      <h1><%= link_to "iRent", resident_path %></h1>
      <% if @resident.present? && !@resident.new_record? %>
      <div class="header-right">
      <ul>
        <% if @resident.moving_in? %>
        <li class="contact-info <%= 'new-contact' if @no_read_post_count != 0 %>">
          <%= link_to resident_posts_path do %>
            <i class="far fa-bell"></i>
          <% end %>
          <span><%= @no_read_post_count %></span>
        </li>
        <li class="contact-info <%= 'new-contact' if @contact.resident_no_read? %>">
          <%= link_to edit_resident_contact_path(@contact.id) do %>
            <i class="far fa-envelope"></i>
          <% end %>
          <span>!</span>
        </li>
        <% end %>
        <li class="header-pull-list-parent pc">
          <%= @resident.name %><i class="fas fa-angle-down"></i>
          <ul class="header-pull-list">
            <li><%= link_to "ログアウト", destroy_resident_session_path, method: "delete" %></li>
            <li><%= link_to "設定", resident_setting_path %></li>
            <li><%= link_to "お問い合わせ", new_resident_inquiry_path %></li>
          </ul>
        </li>
        <li class="header-pull-list-parent sp">
          <i class="fas fa-bars" id="menu-toggle"></i>
          <ul class="header-pull-list">
            <li><%= link_to "ログアウト", destroy_resident_session_path, method: "delete" %></li>
            <li><%= link_to "設定", resident_setting_path %></li>
            <li><%= link_to "お問い合わせ", new_resident_inquiry_path %></li>
          </ul>
        </li>
      </ul>
      </div>
      <% end %>
    </header>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if @resident.requested? %>
      <p class="info">ただ今入居リクエスト中です。承認までもうしばらくお待ちください。</p>
    <% end %>
    <% if @errors.present? %>
      <% @errors.each do |error| %>
        <p class="alert"><%= error %></p>
      <% end %>
    <% end %>
    <%= yield %>
    
    <footer>
        
    </footer>
  </body>
</html>