<!DOCTYPE html>
<html>
  <head>
    <title>OwnerHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'residents' %>
    <%= javascript_include_tag 'static' %>
    <%= stylesheet_link_tag "common", media: "all" %>
    <%= stylesheet_link_tag "static", media: "all" %>
    <%= stylesheet_link_tag "residents", media: "all" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= if ENV['MAILGUN_HOSTNAME'] & ENV['MAILGUN_HOSTNAME'] == "www.irent.life" %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134353860-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'UA-134353860-1');
      </script>
    <% end %>
  </head>

  <body>
    <header>
      <h1><%= OwnerHelper::Application::SERVICE_NAME %></h1>
      <i class="fas fa-bars sp" id="menu-toggle"></i>
      <div class="menu-wrap">
        <ul>
          <li><%= link_to "#{OwnerHelper::Application::SERVICE_NAME}とは", "/#what" %></li>
          <li><%= link_to "料金体系", "/#plan" %></li>
          <li class="dropdown-menu-wrap pc">
            ログイン<i class="fas fa-caret-down"></i>
            <div class="dropdown-menu">
              <ul>
                <li><%= link_to "管理人としてログイン", new_owner_session_path %></li>
                <li><%= link_to "住人としてログイン", new_resident_session_path %></li>
              </ul>
            </div>
          </li>
          <li class="sp"><%= link_to "管理人としてログイン", new_owner_session_path %></li>
          <li class="sp"><%= link_to "住人としてログイン", new_resident_session_path %></li>
          <li>会員登録(無料)</li>
          <li id="inquiry-modal-open" class="pc" onclick="$('.modal').show();">お問い合わせ</li>
          <li id="inquiry-modal-open" class="sp" onclick="$('.menu-wrap').slideUp();$('.modal').show();">お問い合わせ</li>
        </ul>
      </div>
    </header>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    
    <div class="modal">
      <%= form_tag inquiry_path, remote: true do %>
        <span class="close-button" onclick="$('.modal').hide();">
          <i class="fas fa-times"></i>
        </span>
        <div class="field">
         <%= label_tag "name", "お名前" %>
         <%= text_field_tag "name" %>
        </div>
        <div class="field">
         <%= label_tag "email", "メールアドレス" %>
         <%= text_field_tag "email" %>
        </div>
        <div class="field">
         <%= label_tag "text", "お問い合わせ内容" %>
         <%= text_area_tag "text" %>
        </div>
        <div class="actions">
          <%= button_tag "送信", type: "button", class: "button", id: "inquiry_submit", onclick: "$(this).text('送信中');$(form).submit();" %>
        </div>
      <% end %>
    </div>
    
    <div class="success">
      <div class="message">
        <span class="close-button" onclick="$('.success').hide();">
          <i class="fas fa-times"></i>
        </span>
        <p>お問い合わせいただきありがとうございます。</p>
        <p>後日、記入いただきましたメールアドレスにご返信させていただきます。</p>
      </div>
    </div>
    
  </body>
</html>
